<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <title>ASU LENS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/main.css">
  
  </head>
  
  <body >
    <div class="overlay"></div>

     
    

    </div>
    <!-- Shows an error message if the book is not found.-->
     <div style="    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 
     height: 100vh;">
        <h1 class="font-weight-bolder">OPPS!!!</h1>
        <h2>Book Not Found</h2>
        <a
        href="/"
        style="
          color: #000;
          text-decoration: none;
          cursor: pointer;
          margin-top: 10px;
        "
      >
      <i class="fas fa-arrow-left"></i>
              Enter Another Book
      </a>

     </div>
     <script src="../static/jquery.js"></script>
     <script src="../static/popper.js"></script>
     <script src="../static/bootstrap.min.js"></script>
     <script src="../static/all.min.js"></script>

  </body>
</html>
